@import './fonts.css';
@import './tailwind.css';
@import './theme.css';

.leaflet-container {
  width: 100%;
  height: 100%;
  font-family: inherit;
  z-index: 1;
}

.leaflet-pane {
  z-index: 1;
}

.leaflet-top,
.leaflet-bottom {
  z-index: 1000;
}

.leaflet-popup-pane {
  z-index: 2000;
}

.leaflet-interactive {
  cursor: pointer;
}

.map-region-label {
  background: transparent !important;
  border: none !important;
}
